cases*
_crypto_data
_crypto_data_1
_classif_train_data
_classif_train_data_1
_classif_train_data_2
_profits
_saldos
_models
*.keras
*.joblib
*.pb
catboost_info
finaly
newdata
results
data
data1
venv
res
_pic
.env
.png
.cpp
*.c
*win_amd*
*.obj
*.pyx
*.pyc
__pycache__
*311*
data2
final
*.csv
saldos
rychara*
*.png
*.txt
